.active {
  opacity: .5;
  border-bottom: 1px solid black;
}

#side-nav {
  height: 100vh;
}

#side-nav-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#side-nav-menu ul li {
  padding: 5px;
}

.mat-sidenav-container {
  background-color: white !important;
}

.menu {
  margin: 5px;
}
